# Dependencies
node_modules/
.venv/
.venv-pm/

# Build output
.next/
*.pyc
__pycache__/

# Environment & secrets
.env
.env.save
.env.local
.env.production.local

# Cache
.cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# TypeScript build info
tsconfig.tsbuildinfo
